*.DS_Store
*.aux
*.log
*.gz
*.pyc
*.pyc
E-Lehre/Protokoll/2.1.1.docx
E-Lehre/Protokoll/Messung von elektrischen Schwingungen_Mrev.docx
*.pyc
Akustik2/V2.1B_nochwas.lab
Akustik2/V2.1B_richtig copie.dat
Akustik2/V2.1B_richtig.lab
Akustik2/V2.1B_zuweit.lab
Akustik2/V2.1C.lab
Akustik2/V2.1B_nochwas copie.dat
Akustik2/V2.1A.lab
Akustik2/Temperaturmessung_vorher.lab
Akustik2/Temperatur_mitte.lab
Akustik2/Temperatur_ende.lab
Akustik2/Schallg.py
Akustik2/profil.py
Akustik2/matlab_fit.sfit
Akustik2/Kalibrierung_Wegaufnehmer.lab
Akustik2/Images/teilspektrum_809.5.pdf
Akustik2/Images/teilspektrum_410.9.pdf
Akustik2/Images/teilspektrum_2416.pdf
Akustik2/Images/teilspektrum_2008.pdf
Akustik2/Images/teilspektrum_1608.pdf
Akustik2/Images/Schallg_res.pdf
Akustik2/Images/Schallg.pdf
Akustik2/Images/Resonanzfreq.pdf
Akustik2/Gase_Aufbau_Laufzeit.png
Akustik2/Gase_Aufbau_Frequenz.png
Akustik2/Frequenz.py
Akustik2/Festkörper/Schwebung_g_d.py
Akustik2/Festkörper/Schwebung_Baeuche.py
Akustik2/Festkörper/Schwebung.py
Akustik2/Festkörper/Saitenspannung_d_2.py
Akustik2/Festkörper/Saitenspannung_b_2.py
Akustik2/Festkörper/Frequenzspektrum.py
Akustik2/Festkörper/Elastizitaet_Me.py
Akustik2/Festkörper/Elastizitaet_Fe.py
Akustik2/Festkörper/Elastizitaet_Cu.py
Akustik2/Festkörper/Elastizitaet_Alu.py
Akustik2/Capture d’écran 2019-01-10 à 13.16.15.png
Akustik2/Akustik_2 (1) (2).pdf
Akustik2/Akustik.pptx
Akustik2/Akustik.pdf
Akustik/Luft/V2.1a.py
*.pdf
*.png
